#masterPane {
    -fx-background-color: #fcf1de;
}

.table-view {
    -fx-background-color: #fcf1de;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #f4d39d;
    -fx-border-width: 0;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-size: 12pt;
}

.table-row-cell,
.table-row-cell:odd {
    -fx-background-color: #fcf1de;
}

.table-row-cell:selected .table-cell{
    -fx-background-color: #fcf1de;
    -fx-text-fill: #333333;
}

.table-view .table-cell {
    -fx-border-color: #fcf1de;
    -fx-border-width: 1 0 0 0;
    -fx-font-size: 10pt;
    -fx-padding: 5 3 15 3;
    -fx-alignment: center;
}